.gameCard > p {
  font-size: small;
}

.gameCard span {
  font-size: small;
  color: rgb(255, 140, 73);
}

.gameCard {
  margin: 0 1rem;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 5rem;
}

.gameImg {
  margin: 1rem 1rem 1rem 0;
  opacity: 0.5;
  max-height: 70vh;
  height: 100%;
  width: 30vw;
  border-radius: 10px;
}

h3 {
  font-size: 16pt;
  margin-top: 0.5rem;
}

.gameCard .red {
  color: red;
}

.gameCard .green {
  color: lightgreen;
}

.deleteBtn {
  /* display: none; */
  font-size: 12pt;
  height: 30px;
  background-color: rgb(44, 44, 44);
  border: none;
  border-radius: 5px;

}

.deleteBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 94, 0, 0.5);
}