.gameCard > p {
  font-size: small;
}

.gameCard span {
  font-size: small;
  color: rgb(255, 140, 73);
}

.gameCard {
  margin: 0 1rem;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gameImg {
  margin-right: 1rem;
  opacity: 0.5;
  max-height: 70vh;
}

h3 {
  font-size: 16pt;
  margin-top: 0.5rem;
}
