nav {
  width: 95%;
  display: flex;
  justify-content: flex-start;
}

.navWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link {
  padding: 0.5rem;
  border-radius: 10px 10px 0 0;
}

.link:hover {
  cursor: pointer;
  color: rgb(255, 140, 73);
}

.selected {
  background-color: rgb(15, 15, 15, 0.8);
  color: rgb(255, 140, 73);
}
