.reviewWrapper {
  border-top: 1px solid rgb(255, 94, 0);
  background-color: rgb(22, 22, 22);
  padding-top: 1rem;
  padding-bottom: 10rem;
}

.reviewForm {
  display: flex;
  align-items: center;
}

.starsWrapper {
  min-width: max-content;
  margin: 0 1rem;
}

.textEntry {
  outline: none;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  width: 100%;
  border-bottom: 1px solid rgb(153, 153, 153);
  border-radius: 0%;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.textEntry:focus {
  border-bottom: 2px solid rgb(178, 178, 178);
}

.submitBtn {
  /* display: none; */
  font-size: 12pt;
  height: 30px;
  background-color: rgb(44, 44, 44);
  border: none;
  border-radius: 5px;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 94, 0, 0.5);
}

/* .reviewForm input:focus + button {
  display: block;
} */

.formWrapper {
  margin-bottom: 2rem;
}
