.reviewHead {
  display: flex;
  align-items: center;
}

.date {
  opacity: 0.3;
  margin-left: 1rem;
}

.comment {
  margin-left: 3rem;
}

.revBtn {
  border: none;
  background-color: rgb(0, 0, 0, 0);
  cursor: pointer;
  opacity: 0;
}

.like {
  color: lightgreen;
}

.dislike {
  color: red;
}

article:hover .revBtn {
  opacity: 1;
}

h4:hover {
  cursor: pointer;
}
